*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#000;
    color:#fff;
    font-family:Georgia,serif;
    overflow-x:hidden;
}

.hero{
    position:relative;
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.hero-image{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center center;
    filter:brightness(0.75);
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.30);
}

.content{
    position:relative;
    z-index:10;
    text-align:center;
    padding:20px;
}

.invite{
    color:#e7c65a;
    letter-spacing:4px;
    font-size:18px;
    margin-bottom:25px;
}

h1{
    color:#e7c65a;
    font-size:90px;
    text-shadow:0 0 20px rgba(231,198,90,.5);
}

h2{
    color:white;
    font-size:58px;
    font-style:italic;
    font-weight:300;
    margin-top:-10px;
}

h3{
    font-size:30px;
    margin-top:20px;
}

.line{
    width:170px;
    height:2px;
    background:#e7c65a;
    margin:30px auto;
}

.datum{
    font-size:28px;
    line-height:1.7;
}

.button{

display:inline-block;

margin-top:35px;

padding:18px 48px;

background:linear-gradient(180deg,#fff7cc,#f5d56a,#c89d2c);

color:#222;

font-weight:bold;

font-size:20px;

text-decoration:none;

border-radius:50px;

border:1px solid rgba(255,255,255,.35);

box-shadow:0 0 20px rgba(231,198,90,.6);

transition:.3s;

}

.button:hover{

transform:scale(1.05);

box-shadow:0 0 35px rgba(231,198,90,.9);

}

section{

padding:90px 25px;

text-align:center;

max-width:900px;

margin:auto;

}

input,
select,
textarea{

width:100%;

padding:16px;

margin:10px 0;

border-radius:10px;

border:none;

font-size:18px;

}

#particles{

position:fixed;

inset:0;

pointer-events:none;

}
